.Welcome {
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
  width: 100%;
}

.Welcome__sidebar {
  /* background-color: red; */
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  /* padding: 20px; */
}

.Welcome__main {
  /* background-color: blue; */
  width: 87%;
  margin-left: 200px;
  position: relative;
}

.Welcome__navbar {
  width: 100%;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.Welcome__body {
  /* padding: 50px; */
}
